*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient( to right, #9c27b0,#8ecdff);
}
nav
{
 width: 80%;
 position:sticky;
margin: 20px auto;
z-index: 1;
display: flex;
align-items: center;

}
.brand{
    width: 70%;
    height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   margin-left: -250px;
   margin-top: 100px;

    

}
.logo
{
    flex-basis: 20%;

}
.logo img{
    width: 150px;
}
.nav-links
{
    flex: 1;
    text-align:right;

}
 .nav-links,ul,li{  
     list-style: none;
     display: inline-block;
     margin: 0 20px;
     font-size: 25px;
     cursor: pointer;
  

 }
 .nav-links,ul,li,a{
    color: #fff;
    text-decoration: none;
    transition:0.4s;
    
 }
 li:hover{
    border-bottom: 3px solid white;
    font-size:28px;
    text-shadow:1px 0px 0px black;
 }
 .information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left:-10%;
    transform: translateY(-50%);
 }
 .mobileimg{
    width: 20%;
    height: 600px;
    display: flex;
    flex-direction: column;
    position:absolute;
 }
 #sam{
    width: 100px;
    height: 100px;
    position:static;
 }
#circle
{   width: 1000px;
    height: 1000px;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    transform:rotate(0deg);
    transition: 1s;


}
.feature img{
    width:70px;
    
}
.feature{
    position: absolute;
    display: flex;
    color: #fff;

}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top:8px;
}
.one{
top: 450px;
right: 50px;

}
.two

{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);

}
.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);

}
.box{
    width:390px;
    height:450px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
}
.mobile{
    width:390px;
    height:450px;
    position: absolute;
    background-image: url(/images/oneplus-ace-pro..png);
    background-size: cover;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.9s;
}
.controls{
   position: absolute;
   right: 10%;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#upBtn{
    font-size: 45px;
    cursor: pointer;
    color: #fff;
    transform: rotate(90deg);
    font-weight: bolder;
}
#downBtn{
   font-size: 45px;
    cursor: pointer;
    transform:rotate(-90deg) ;
    color: #fff;
    font-weight: bolder;
    
}
#rBtn{
    
    cursor: pointer;
   
}
#ibtn{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#sbtn{
    height: 100px;
    width: 250px;
    cursor: pointer;
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position:relative;
    left: 0;
    right: 0;

}